coursera-iot/flows.json
[{"id":"f59b9033.e304a","type":"tab","label":"W3 Quickstart Flow"},{"id":"2df52f92.be71d","type":"tab","label":"Assignment #3"},{"id":"fe4fadf8.0a2d1","type":"tab","label":"Assignment #5"},{"id":"2440de15.9c0532","type":"tab","label":"Flow 1"},{"id":"84fed95b.bf9ae8","type":"wiotp-credentials","z":"fe4fadf8.0a2d1","name":"asey83-rpi3","org":"asey83","devType":"rpi3","devId":"pmvrpi3"},{"id":"51e0f758.c866d8","type":"wiotp-credentials","z":"fe4fadf8.0a2d1","name":"asey83-rpish","org":"asey83","devType":"rpish","devId":"senpmvrpi3"},{"id":"51da509b.93bb9","type":"random","z":"f59b9033.e304a","name":"","low":"1","high":"6","inte":"true","x":247,"y":163,"wires":[["c6038859.902fd8"]]},{"id":"c6038859.902fd8","type":"function","z":"f59b9033.e304a","name":"format random number","func":"msg.payload = {'d' : {'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":107,"wires":[["2c9cf56d.b9c0fa"]]},{"id":"2c9cf56d.b9c0fa","type":"debug","z":"f59b9033.e304a","name":"","active":true,"console":"false","complete":"false","x":543,"y":223,"wires":[]},{"id":"cefa3c4c.314ff","type":"inject","z":"2df52f92.be71d","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":154,"y":85,"wires":[[]]},{"id":"d85ba054.439f8","type":"exec","z":"2df52f92.be71d","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","name":"get temp","x":290,"y":194.5,"wires":[["51280e93.38262"],[],[]]},{"id":"51280e93.38262","type":"function","z":"2df52f92.be71d","name":"contruct payload","func":"temp = msg.payload.match('[0-9]+.[0-9]');\nvar newmsg = {\n    payload: {\n        d: {\n            temp: parseFloat(temp)\n        }\n    }\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":451,"y":92,"wires":[["38dde942.7c9fd6"]]},{"id":"38dde942.7c9fd6","type":"debug","z":"2df52f92.be71d","name":"","active":true,"console":"false","complete":"false","x":599,"y":184,"wires":[]},{"id":"c8fd726a.e037e","type":"inject","z":"f59b9033.e304a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":93,"y":99,"wires":[[]]},{"id":"c49d7625.6f0548","type":"rpi-sensehatsim in","z":"fe4fadf8.0a2d1","name":"","motion":false,"env":true,"stick":false,"x":100,"y":40,"wires":[["6377d364.cc2c7c"]]},{"id":"6377d364.cc2c7c","type":"delay","z":"fe4fadf8.0a2d1","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"12","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":40,"wires":[["9016af6e.345bf","dc1da1c8.9d6df","f2aacb12.f354c8"]]},{"id":"49716704.4c1a48","type":"function","z":"fe4fadf8.0a2d1","name":"contruct payload","func":"temp = msg.payload.match('[0-9]+.[0-9]');\nvar newmsg = {\n    payload: {\n        d: {\n            temp: parseFloat(temp)\n        }\n    }\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":490,"y":160,"wires":[["da8124a3.1a4e78","79749308.cbff2c"]]},{"id":"9016af6e.345bf","type":"exec","z":"fe4fadf8.0a2d1","command":"vcgencmd measure_temp","addpay":false,"append":"","useSpawn":"","name":"get temp","x":280,"y":160,"wires":[["49716704.4c1a48"],[],[]]},{"id":"e0c43614.34d138","type":"wiotp out","z":"fe4fadf8.0a2d1","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"51e0f758.c866d8","deviceType":"rpi3","deviceId":"pmvrpi3","event":"event","format":"json","name":"senpmvrpi3","x":690,"y":40,"wires":[]},{"id":"da8124a3.1a4e78","type":"wiotp out","z":"fe4fadf8.0a2d1","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"84fed95b.bf9ae8","deviceType":"rpi3","deviceId":"pmvrpi3","event":"event","format":"json","name":"pmvrpi3","x":680,"y":160,"wires":[]},{"id":"dc1da1c8.9d6df","type":"function","z":"fe4fadf8.0a2d1","name":"format message","func":"var newmsg = {\n    payload: {\n        d: {\n            temperature: parseFloat(msg.payload.temperature),\n            humidity: parseFloat(msg.payload.humidity)\n        }\n    }\n};\nreturn newmsg;","outputs":1,"noerr":0,"x":500,"y":40,"wires":[["e0c43614.34d138","c6e9e2a6.bdf5a"]]},{"id":"f9863ad0.fdf188","type":"rpi-sensehatsim out","z":"fe4fadf8.0a2d1","name":"","x":700,"y":300,"wires":[]},{"id":"40fd5241.f60f6c","type":"wiotp in","z":"fe4fadf8.0a2d1","authType":"g","deviceKey":"84fed95b.bf9ae8","deviceType":"","deviceId":"","command":"+","commandType":"g","name":"","x":90,"y":300,"wires":[["83e30cbc.8e3bf","bd71f3d3.8239e"]]},{"id":"83e30cbc.8e3bf","type":"function","z":"fe4fadf8.0a2d1","name":"command","func":"var newmsg = {\n    payload : {\n        screen: msg.payload.screen,\n        temp: flow.get('temp')\n    }\n}\nflow.set('screen', msg.payload.screen)\nreturn newmsg;","outputs":1,"noerr":0,"x":280,"y":300,"wires":[["798b29e0.cb7bd8"]]},{"id":"f2aacb12.f354c8","type":"function","z":"fe4fadf8.0a2d1","name":"temp","func":"var sscreen = flow.get('screen');\nvar t = Math.floor(msg.payload.temperature);\nvar newmsg = {\n    payload: {\n        screen: null,\n        temp: t\n    }\n};\nif (sscreen === undefined) {\n    newmsg.payload.screen = 'black';\n} else {\n    newmsg.payload.screen = sscreen;\n}\nflow.set('temp', t);\nreturn newmsg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["798b29e0.cb7bd8"]]},{"id":"798b29e0.cb7bd8","type":"function","z":"fe4fadf8.0a2d1","name":"smart display","func":"var leds = [[0,0],[2,1],[1,1],[2,2],[1,2],[2,3],[1,3],[2,4],[1,4],[2,5]];\nfunction digit(n, p) {\n    var s = '';\n    p === undefined ? p = 0 : p = 4;\n    for (i = n; i > 0; i--) { \n        s += ',' + (leds[i][0] + p) + ',' + leds[i][1] + ',#C0C0C0';\n    }\n    return s;\n}\nfunction number(n) {\n    var d1 = msg.payload.temp % 10;\n    var d10 = ((msg.payload.temp) - d1) / 10;\n    return digit(d10) + digit(d1, 1);\n}\nvar s = '';\nswitch (msg.payload.screen) {\n    case 'off':\n        s = '*,*,#008000';\n    break;\n    case 'on':\n        s = '*,*,#800000';\n    break;\n    default:\n        s = '*,*,off';\n}\ns += number(msg.payload.temp);\nreturn {payload:s};","outputs":1,"noerr":0,"x":480,"y":300,"wires":[["e6fc95e5.015128","f9863ad0.fdf188"]]},{"id":"c6e9e2a6.bdf5a","type":"debug","z":"fe4fadf8.0a2d1","name":"senpmvrpi3","active":false,"console":"false","complete":"payload","x":690,"y":100,"wires":[]},{"id":"79749308.cbff2c","type":"debug","z":"fe4fadf8.0a2d1","name":"pmvrpi3","active":false,"console":"false","complete":"payload","x":680,"y":200,"wires":[]},{"id":"e6fc95e5.015128","type":"debug","z":"fe4fadf8.0a2d1","name":"SenseHAT sim","active":true,"console":"false","complete":"payload","x":700,"y":360,"wires":[]},{"id":"bd71f3d3.8239e","type":"debug","z":"fe4fadf8.0a2d1","name":"command","active":false,"console":"false","complete":"payload","x":280,"y":360,"wires":[]},{"id":"bf3a8ddd.8fa76","type":"http in","z":"2440de15.9c0532","name":"/time","url":"/time","method":"get","swaggerDoc":"","x":170,"y":180,"wires":[["dd284dfa.d6918"]]},{"id":"4b4f1191.c08d1","type":"http in","z":"2440de15.9c0532","name":"/random","url":"/random","method":"get","swaggerDoc":"","x":182,"y":260,"wires":[["e855848.eb03d78"]]},{"id":"794d06da.960d98","type":"http in","z":"2440de15.9c0532","name":"/page","url":"/page","method":"get","swaggerDoc":"","x":172,"y":338,"wires":[["e4532252.7f64"]]},{"id":"e855848.eb03d78","type":"random","z":"2440de15.9c0532","name":"","low":"1","high":"10","inte":"true","x":357,"y":260,"wires":[["ebbc4653.7187d8"]]},{"id":"153a0f07.6bb791","type":"http response","z":"2440de15.9c0532","name":"","x":750,"y":260,"wires":[]},{"id":"ebbc4653.7187d8","type":"function","z":"2440de15.9c0532","name":"","func":"function prependZero(i) {\n    if (i < 10) {\n        i = \"0\" + i;\n    }\n    return i;\n}\nvar d = new Date();\nvar time = prependZero(d.getHours()) +':' + prependZero(d.getMinutes());\nflow.set('rtime', time);\nflow.set('rand', msg.payload);\nmsg.headers={\"Content-Type\":\"application/json\"};\nmsg.payload ={\n    random: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"x":552,"y":260,"wires":[["153a0f07.6bb791"]]},{"id":"dd284dfa.d6918","type":"function","z":"2440de15.9c0532","name":"","func":"function prependZero(i) {\n    if (i < 10) {\n        i = \"0\" + i;\n    }\n    return i;\n}\nvar d = new Date();\nmsg.headers={\"Content-Type\":\"application/json\"}\nmsg.payload ={\n    time: prependZero(d.getHours()) +':' + prependZero(d.getMinutes())\n}\nflow.set('time', msg.payload.time);\nreturn msg;","outputs":1,"noerr":0,"x":347,"y":180,"wires":[["997d1536.a24b98"]]},{"id":"997d1536.a24b98","type":"http response","z":"2440de15.9c0532","name":"","x":748,"y":182,"wires":[]},{"id":"e4532252.7f64","type":"function","z":"2440de15.9c0532","name":"","func":"\nmsg.payload.time = flow.get('time');\nmsg.payload.rand = flow.get('rand');\nmsg.payload.rtime =  flow.get('rtime');\nreturn msg;","outputs":1,"noerr":0,"x":345,"y":338,"wires":[["e3ea113b.bbec3"]]},{"id":"26148bc3.5364f4","type":"http response","z":"2440de15.9c0532","name":"","x":750,"y":338,"wires":[]},{"id":"e3ea113b.bbec3","type":"template","z":"2440de15.9c0532","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload.time}}\nTime last server time request received at {{payload.time}}</br>\n{{/payload.time}}\n\n{{#payload.rand}}\nLast random number request returned {{payload.rand}}, which was received at {{payload.rtime}}\n{{/payload.rand}}\n\n{{^payload.time}}\nNo server time requests have been received</br>\n{{/payload.time}}\n\n{{^payload.rand}}\nNo requests for random numbers have been received\n{{/payload.rand}}","x":549,"y":338,"wires":[["26148bc3.5364f4"]]}]