k34/flows.json
[{"id":"ca353d16.c05c7","type":"tab","label":"Flow 1"},{"id":"55ccc4ff.a268bc","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"7ff20fdf.32b4f","type":"ui_tab","z":"","name":"k34","icon":"dashboard"},{"id":"eb00a987.9120b8","type":"ui_group","z":"","name":"Power","tab":"7ff20fdf.32b4f","disp":true,"width":"6"},{"id":"12ed4c8e.dc85a3","type":"ui_base","name":"k34 Dashboard","theme":"theme-dark"},{"id":"a23803d9.9eb04","type":"mqtt in","z":"ca353d16.c05c7","name":"","topic":"k34/power","qos":"2","broker":"55ccc4ff.a268bc","x":120,"y":200,"wires":[["e3498d28.9eb48"]]},{"id":"2674d4b2.0d5f3c","type":"function","z":"ca353d16.c05c7","name":"convert payload to kW","func":"return {payload: msg.payload.power / 1000.0}","outputs":1,"noerr":0,"x":500,"y":200,"wires":[["3e1306f3.90c18a","6ac47ab0.d0ad94"]]},{"id":"3e1306f3.90c18a","type":"ui_gauge","z":"ca353d16.c05c7","name":"power","group":"eb00a987.9120b8","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"kW","format":"{{value | number:2}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"x":710,"y":160,"wires":[]},{"id":"6ac47ab0.d0ad94","type":"ui_chart","z":"ca353d16.c05c7","name":"power","group":"eb00a987.9120b8","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"%H:%M:%S","interpolate":"basis","nodata":"","ymin":"0","ymax":"20","removeOlder":1,"removeOlderUnit":"3600","x":710,"y":240,"wires":[[],[]]},{"id":"e3498d28.9eb48","type":"json","z":"ca353d16.c05c7","name":"","x":290,"y":200,"wires":[["2674d4b2.0d5f3c"]]}]