flic-slack/flows.json
[{"id":"f22f4218.378ca","type":"tab","label":"flic to slack"},{"id":"5b0b3f90.2d923","type":"flic","z":"f22f4218.378ca","name":"","host":"127.0.0.1","port":5551,"topic":"flic","x":110,"y":80,"wires":[["94a55280.44e7f"]]},{"id":"94a55280.44e7f","type":"function","z":"f22f4218.378ca","name":"create payload","func":"switch (msg.payload.clickType) {\n    case \"ButtonSingleClick\":\n        s = \"Nu är maten klar!!!\";\n        break;\n    case \"ButtonDoubleClick\":\n        s = \"Nu är efterätten klar!!!\";\n        break;\n    case \"ButtonHold\":\n        s = \"Någon måste gå ut med soporna!!!\";\n        break;\n    default:\n        log.warning(\"unable to decode clickType\");\n}\nreturn {payload: s};","outputs":1,"noerr":0,"x":300,"y":80,"wires":[["6ea13972.4a34a8","ae38ba15.3d3118"]]},{"id":"6ea13972.4a34a8","type":"debug","z":"f22f4218.378ca","name":"","active":true,"console":"false","complete":"false","x":550,"y":140,"wires":[]},{"id":"ae38ba15.3d3118","type":"slack","z":"f22f4218.378ca","name":"","channelURL":"https://hooks.slack.com/services/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","username":"mikael","emojiIcon":"","channel":"","x":570,"y":80,"wires":[]}]